@page
@model TaxCalculatorUI.Pages.ResultsModel
@{
}

<br />
<h3>Results</h3>
<table style="width:35%">
    <tr>
        <td class="mx-3">Pay Packet</td>
        <td>@Model.PayPacket</td>
    </tr>
    <tr>
        <td>Superannuation</td>
        <td>@Model.Superannuation</td>
    </tr>
    <tr>
        <td>Taxable Income</td>
        <td>@Model.TaxableIncome</td>
    </tr>
    <tr>
        <td>Net Income</td>
        <td>@Model.NetIncome</td>
    </tr>
    <tr>
        <td>Medicare Levy</td>
        <td>@Model.MedicareLevy</td>
    </tr>
    <tr>
        <td>Budget Repair Levy</td>
        <td>@Model.BudgetRepairLevy</td>
    </tr>
    <tr>
        <td>Income Tax</td>
        <td>@Model.IncomeTax</td>
    </tr>
</table>
