@page
@model TaxCalculatorUI.Pages.ResultsModel
@{
}

<br />
<h3>Results</h3>
<table>
    <tr>
        <td >Pay Packet</td>
        <partial name="Partials/_ResultValuePartial" model="@Model.PayPacket" />
    </tr>
    <tr>
        <td>Superannuation</td>
        <partial name="Partials/_ResultValuePartial" model="@Model.Superannuation" />
    </tr>
    <tr>
        <td>Taxable Income</td>
        <partial name="Partials/_ResultValuePartial" model="@Model.TaxableIncome" />
    </tr>
    <tr>
        <td>Net Income</td>
        <partial name="Partials/_ResultValuePartial" model="@Model.NetIncome" />
    </tr>
    <tr>
        <td>Medicare Levy</td>
        <partial name="Partials/_ResultValuePartial" model="@Model.MedicareLevy" />
    </tr>
    <tr>
        <td>Budget Repair Levy</td>
        <partial name="Partials/_ResultValuePartial" model="@Model.BudgetRepairLevy" />
    </tr>
    <tr>
        <td>Income Tax</td>
        <partial name="Partials/_ResultValuePartial" model="@Model.IncomeTax" />
    </tr>
</table>

